name: pyLint

on: [push, pull_request]

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pylint
          pip install -r requirements.txt   # or pip install .[dev]
      - name: Run Pylint
        run: |
          pylint --fail-under=8.0 estimator_module/   # adjust module name
